<!DOCTYPE html>

<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}">

<body>

<div layout:fragment="content">

    ```
    <div class="card">

        <div class="card-header bg-success text-white">

            <h3>Create Blog</h3>

        </div>

        <div class="card-body">

            <form th:action="@{/blogs/save}"
                  th:object="${blog}"
                  method="post">

                <div class="mb-3">

                    <label class="form-label">
                        Title
                    </label>

                    <input type="text"
                           th:field="*{title}"
                           class="form-control"
                           required>

                </div>

                <div class="mb-3">

                    <label class="form-label">
                        Category
                    </label>

                    <select th:field="*{category}"
                            class="form-select">

                        <option th:each="c : ${categories}"
                                th:value="${c.id}"
                                th:text="${c.name}">
                        </option>

                    </select>

                </div>

                <div class="mb-3">

                    <label class="form-label">
                        Content
                    </label>

                    <textarea rows="10"
                              th:field="*{content}"
                              class="form-control">
                </textarea>

                </div>

                <button class="btn btn-success">
                    Save
                </button>

                <a th:href="@{/blogs}"
                   class="btn btn-secondary">

                    Back

                </a>

            </form>

        </div>

    </div>
    ```

</div>

</body>
</html>
