<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Blog AJAX</title>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>

<h1>Blog List</h1>

<input type="text" id="keyword">
<button id="btnSearch">
    Search
</button>

<br><br>

<table border="1">

    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Category</th>
    </tr>
    </thead>

    <tbody id="blogBody">

    </tbody>

</table>

<script src="/blog.js"></script>

</body>
</html>